<% layout('layout') %>

<style>
  .card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }

</style>

<div class="container">
  <div class="card" style ="width: 30rem;">
    <img class="card-image-top" src ="<%- pin.path %>"/>
    <div class ="card-block">
      <h4 class="card-title"><%- pin.title %></h4>
      <p class="card-text"><%- pin.desc %></p>
      <div class="btn-group pull-right">
        <a class="btn btn-default" href ="pins/pin-save/<%- pin._id %>">
          <span class="fa <%- (pin.isSave)? 'fa-star':'fa-star-o' %> fa-lg"></span>
        </a>
        <a class="btn btn-default" href="/pins/edit/<%- pin._id %>">Edit</a>
      </div>
    </div>
  </div>
</div>
